<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenAC.Net.Core" version="1.5.0-preview.2" targetFramework="net462" />
  <package id="OpenAC.Net.Devices" version="1.5.0-preview.3" targetFramework="net462" />
  <package id="OpenAC.Net.EscPos" version="1.0.0-beta.6" targetFramework="net462" />
</packages>